div {
	vertical-align: top;
}

.outer {
	display: flex;
	white-space: nowrap;
}

.doc {
	white-space: normal;
	margin-right: 1em;
	width: 30%;
	border-bottom: thin solid black;
}

.code {
	background-color: #e0e0e0;
	padding-left: 1ex;
	flex: 1;
	border-bottom: thin solid black;
}

.doc pre {
	background: #e0e0e0;
	border: thin solid black;
	padding: 1ex;
}

.code pre {
	margin-bottom: 2ex;
	margin-top: 0;
}
